<!-- <tr>
      <th></th>
      <th></th>
      <th *ngFor="let date of months">{{date.name}}</th>
    </tr>
    <tr *ngFor="let dsr of dsrData">
      <td>{{dsr.name}}</td>
      <td *ngFor="let date of allMonthDates">
        <div *ngIf="checkStatus(dsr, date) == 1" style="color: #2ecc71!important;width:20px;height:20px;border-radius: 50%;text-align: center;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </div>
        <div *ngIf="checkStatus(dsr, date) == 2" style="color: #f1c40f!important;width:20px;height:20px;border-radius: 50%;text-align: center;">
          <ion-icon name="information-circle-outline"></ion-icon>
        </div>
        <div *ngIf="checkStatus(dsr, date) == 0" style="color: #e74c3c!important;width:20px;height:20px;border-radius: 50%;text-align: center;">
          <ion-icon name="close-circle-outline"></ion-icon>
        </div>
      </td>
    </tr> -->

<div style="padding: 20px;">
  <ion-header>
    <ion-toolbar color="gray" style="border-top: 1px solid #3f4040;">
      <ion-row>
        <ion-col size="4" style="border-right: 1px solid rgb(37 38 40);
      background-color: transparent;
      padding: 0px;">
          <ion-item lines="none">
            <ion-select placeholder="Select team" [(ngModel)]="selectedTeam" (ngModelChange)="teamChanged($event)"
              style="color: var(--ion-color-dark);width: 100%;" multiple>
              <ion-select-option *ngFor="let team of teams" style="color: var(--ion-color-dark);font-weight: bold;"
                [value]="team.teamId">
                {{team.teamName}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4" style="border-right: 1px solid rgb(37 38 40);
      background-color: transparent;
      padding: 0px;">
          <ion-item lines="none">
            <ion-select placeholder="Select year" [(ngModel)]="year" style="color: var(--ion-color-dark);width: 100%;"
              (ngModelChange)="filterKra()">
              <ion-select-option *ngFor="let year of years" style="color: var(--ion-color-dark);font-weight: bold;"
                [value]="year">{{year}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4" style="border-right: 0px solid rgb(37 38 40);
      background-color: transparent;
      padding: 0px;">
          <ion-item lines="none">
            <ion-select placeholder="Select month" [(ngModel)]="month" style="color: var(--ion-color-dark);width: 100%;"
              (ngModelChange)="filterKra()">
              <ion-select-option *ngFor="let month of months" style="color: var(--ion-color-dark);font-weight: bold;"
                [value]="month.value">{{month.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngFor="let item of allKRA">
        <ion-list class="projects" (click)="updateKRA(item)"
          style="background-color: var(--ion-color-light);cursor: pointer;">
          <ion-item class="item" lines="none">
            <ion-label style="color: var(--ion-color-light);font-size: 14px;font-weight: 500;">
              {{item.employeeName}}
            </ion-label>
            <ion-label style="color: var(--ion-color-light);font-size: 14px;font-weight: 500;">
              <ion-note>
                <div style="font-size: 14px;">
                  Evaluation Purpose
                </div>
                <div style="font-size: 15px;font-weight: bold;">
                  {{item.EvaluationPurpose}}
                </div>
              </ion-note>
              
            </ion-label>
            <ion-note slot="end" style="padding:0px 20px;border-right:0.5px solid var(--ion-color-dark) ;">
              <div style="font-size: 14px;">
               Month
              </div>
              <div style="font-size: 15px;font-weight: bold;">
                {{item.month}}
              </div>
            </ion-note>
            <ion-note slot="end" style="padding:0px 20px;border-right:0.5px solid var(--ion-color-dark) ;">
              <div style="font-size: 14px;">
                Created At
              </div>
              <div style="font-size: 15px;font-weight: bold;">
                {{item.createdAt | date :'MMM , d yyyy'}}
              </div>
            </ion-note>
            <ion-note slot="end" style="padding:0px 20px;border-right:0.5px solid var(--ion-color-dark) ;">
              <div style="font-size: 14px;">
                ReviewPeriod
              </div>
              <div style="font-size: 15px;font-weight: bold;">
                {{item.ReviewPeriod || 0}}
              </div>
            </ion-note>
            <ion-note slot="end">
              <div style="font-size: 14px;">
                Total Score
              </div>
              <div style="font-size: 15px;font-weight: bold;">
                {{item.TotalScore || 0}}
              </div>
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>