.tg {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: scroll;
  }
  
  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    word-break: normal;
  }
  
  .tg th {
    // border-color: black;
    // border-style: solid;
    // border-width: 1px;
    border-bottom: 1px solid rgb(95, 95, 95);
    border-left: 1px solid rgb(95, 95, 95);
    border-right: 1px solid rgb(95, 95, 95);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    word-break: normal;
  }
  
  .tg .tg-0pky {
    border-color: inherit;
    text-align: left;
  }
  
  .tg .tg-hpky {
    border-color: inherit;
    text-align: left;
    font-weight: bold;
  }
