<ion-header>
  <ion-toolbar>
    <ion-title>Asset-Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="GRN">
        <ion-label>GRN</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Delivery">
        <ion-label>Delivery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Asset-Grid">
        <ion-label>Asset Grid</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Return">
        <ion-label>Return</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Scrap-Management">
        <ion-label>Scrap</ion-segment-button>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <ng-container *ngSwitchCase="'GRN'">
      <!-- GRN Content -->
      <p>Content for GRN Segment</p>
    </ng-container>
    <ng-container *ngSwitchCase="'Delivery'">
      <!-- Delivery Content -->
      <p>Content for Delivery Segment</p>
    </ng-container>
    <ng-container *ngSwitchCase="'Asset-Grid'">
      <!-- Asset Grid Content -->
      <p>Content for Asset Grid Segment</p>
    </ng-container>
    <ng-container *ngSwitchCase="'Return'">
      <!-- Return Content -->
      <p>Content for Return Segment</p>
    </ng-container>
    <ng-container *ngSwitchCase="'Scrap-Management'">
      <!-- Scrap Management Content -->
      <p>Content for Scrap Management Segment</p>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <!-- Default Content -->
      <p>Select a segment to view content</p>
    </ng-container>
  </div>
</ion-content>

