<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- change password (Sonali) -->

<ion-content>
  <ion-row>
    <ion-col>
      <form [formGroup]="passwordForm">
        <ion-list lines="none" style="background: transparent;padding:10px 20px;">
          <ion-row style="padding-bottom: 10px;">
            <ion-col sizeMd="12" sizeSm="12" sizeXs="12">
              <ion-item>
                <ion-label position="stacked" style="color: #fff;font-weight: 300;">Old Password*</ion-label>
                <ion-input type="password" formControlName="oldPassword" id="OldPassword"></ion-input>
                <ion-icon class="show-option" [hidden]="showOldPassword" name="eye-off-outline" style="margin-top: 35px;" slot="end" (click)="showHidePassword('old')"></ion-icon>
                <ion-icon class="hide-option" [hidden]="!showOldPassword" name="eye-outline" style="margin-top: 35px;" slot="end" (click)="showHidePassword('old')"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeMd="6" sizeSm="12" sizeXs="12">
              <ion-item>
                <ion-label position="stacked" style="color: #fff;font-weight: 300;">New Password*</ion-label>
                <ion-input type="password" formControlName="newPassword" id="NewPassword" (keyup)="validatePassword($event)"></ion-input>
                <ion-icon class="show-option" [hidden]="showNewPassword" name="eye-off-outline" style="margin-top: 35px;" slot="end" (click)="showHidePassword('new')"></ion-icon>
                <ion-icon class="hide-option" [hidden]="!showNewPassword" name="eye-outline" style="margin-top: 35px;" slot="end" (click)="showHidePassword('new')"></ion-icon>
              </ion-item>
              <span id="msg"></span>
            </ion-col>
            <ion-col sizeMd="6" sizeSm="12" sizeXs="12">
              <ion-item>
                <ion-label position="stacked" style="color: #fff;font-weight: 300;">Confirm Password*</ion-label>
                <ion-input type="password" formControlName="confirmPassword" id="ConfirmPassword"></ion-input>
                <ion-icon class="show-option" [hidden]="showConfirmPassword" name="eye-off-outline" style="margin-top: 35px;" slot="end" (click)="showHidePassword('confirm')"></ion-icon>
                <ion-icon class="hide-option" [hidden]="!showConfirmPassword" name="eye-outline" style="margin-top: 35px;" slot="end" (click)="showHidePassword('confirm')"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer style="display: flex;justify-content:flex-end;">
  <ion-button size="default" fill="outline" color="success" type="submit" style="height: 35px;" (click)="submit()">
    Submit
  </ion-button>
</ion-footer>
