ion-input {
    border: 0.5px solid var(--ion-color-dark) !important;
    background: var(--ion-color-light) !important;
    border-radius: 10px;
    padding: 0px 10px !important;
    color: var(--ion-color-dark) !important;
    font-weight: 400;
    font-size: 14px;
  }

  select{
    border: 0.5px solid var(--ion-color-dark);
    border-radius: 10px;
    font-weight: 300;
    width: 100%;
    background: var(--ion-color-light);
    color: var(--ion-color-dark);
     padding: 7px;
     font-size: 14px;
  }

  ion-label{
    font-weight: 300;
    font-size: 13px;
  }

  .submitButton {
    background: #2ecc71;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}