<div style="padding: 0px 0px;">
  <!-- <ion-toolbar>
      <ion-title>Daily Status Reports</ion-title>
    </ion-toolbar> -->
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="2" style="background-color: transparent;padding: 0px;">
        <ion-item lines="none">
          <ion-select placeholder="Select team" [(ngModel)]="status" (ngModelChange)="statusChanged($event)"
            style="color: var(--ion-color-dark);width: 100%;" multiple>
            <!-- <ion-select-option style="color: var(--ion-color-dark);font-weight: bold;" value="1">All Teams</ion-select-option> -->
            <ion-select-option style="color: var(--ion-color-dark);font-weight: bold;" value="0">New</ion-select-option>
            <ion-select-option style="color: var(--ion-color-dark);font-weight: bold;"
              value="1">Accepted</ion-select-option>
            <ion-select-option style="color: var(--ion-color-dark);font-weight: bold;"
              value="2">Rejected</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4" style="background-color: transparent;padding: 0px;">
        <ion-item (click)="openSelector(selector)" lines="none">
          <ion-select #selector [(ngModel)]="selectedTeam" [value]="selectedTeam" style="pointer-events: none"
            [interfaceOptions]="customAlertOptions" multiple="true">
            <ion-select-option *ngFor="let team of teams" [value]="team.teamId">{{team.teamName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item lines="none">
          <ion-select placeholder="Select team" [(ngModel)]="selectedTeam" (ngModelChange)="teamChanged($event)"
            style="color: var(--ion-color-dark);width: 100%;" multiple>
            <ion-select-option *ngFor="let team of teams" style="color: var(--ion-color-dark);font-weight: bold;" [value]="team.teamId">
              {{team.teamName}}</ion-select-option>
          </ion-select>
        </ion-item> -->
      </ion-col>
      <ion-col size="0.5" style="text-align: center;line-height: 34px;">
        <div>

        </div>
      </ion-col>
      <ion-col size="2.5" style="background-color: transparent;padding: 0px;">
        <ion-item lines="none">
          <ion-input [(ngModel)]="toDate" (change)="dateChange($event)" type="date"
            style="color: var(--ion-color-dark);font-weight: bold;">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0.5" style="text-align: center;line-height: 34px;">
        <div>
          to
        </div>
      </ion-col>
      <ion-col size="2.5" style="background-color: transparent;padding: 0px;">
        <ion-item lines="none">
          <ion-input [(ngModel)]="fromDate" (change)="dateChange($event)" type="date"
            style="color: var(--ion-color-dark);;font-weight: bold;">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar color="gray" style="padding-top: 15px;">
    <ion-searchbar slot="start" (ionChange)="searchEmployee($event)" placeholder="Search Employee"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>ToDo&nbsp;<span
          style="height: 15px;width: 15px;border-radius: 50%;border: 1px solid gray;"></span></ion-button>
      <ion-button>In-Progress&nbsp;<span
          style="height: 15px;width: 15px;border-radius: 50%;background-color: #e67e22;"></span></ion-button>
      <ion-button>Testing&nbsp;<span
          style="height: 15px;width: 15px;border-radius: 50%;background-color: #3498db;"></span></ion-button>
      <ion-button>Done&nbsp;<span
          style="height: 15px;width: 15px;border-radius: 50%;background-color: #2ecc71;"></span></ion-button>

      <ion-button (click)="previewFilterDSR()" color="dark">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        Preview
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-accordion-group *ngFor="let employee of dsrEmployees" value="first"
    style="margin-bottom: 10px;margin: 0px 20px;margin-bottom: 5px;">
    <ion-accordion value="first" style="border: 1px solid #494a4a !important;">
      <ion-item slot="header" lines="none">
        <ion-avatar slot="start">
          <img
            [src]="employee.imageExists ? authService.apiUrl+'images/'+employee.employeeId+'.png' : authService.apiUrl+'images/0.png'">
        </ion-avatar>
        <!-- <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373;" slot="start" name="close-circle-outline"></ion-icon> -->
        <!-- <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373"  slot="start" name="checkmark-circle-outline"></ion-icon> -->
        <ion-label style="font-size: 18px !important;">{{employee.firstName}} {{employee.lastName}}</ion-label>
        <ion-button slot="end" fill="outline" color="success" (click)="approveAllUserDSR(employee)">
          <ion-icon slot="start" name="checkmark-done" slot="icon-only"></ion-icon>
          <ion-label slot="end"> Approve all</ion-label>
        </ion-button>
      </ion-item>
      <div class="ion-padding" slot="content" class="expandedDSR">
        <ion-item lines="none" class="ion-text-wrap" *ngFor="let task of employee.task;let i = index;">
          <ion-note slot="start"
            style="font-weight: 300;font-size: 12px;border-radius: 50%;border: 1px solid gray;height: 35px;width: 35px;display: flex;justify-content: center;align-items: center;"
            [style.background]="task.columnName === 'Done'? '#2ecc71': task.columnName === 'In Progress'? '#e67e22': task.columnName === 'Testing'? '#3498db': task.columnName === 'Hold'? '#B1907F':''">
            {{i+1}}
          </ion-note>
          <ion-button slot="start" (click)="rejectTask(task)" fill="clear"
            style="padding: 0px;text-align:center;font-size: 16px;margin: 0px;">
            <ion-icon [color]="task.status == 2 ? 
              'danger' : 'dark'" name="close-circle-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button slot="start" (click)="acceptTask(task)" fill="clear"
            style="padding: 0px;text-align:center;font-size: 16px;margin: 0px;">
            <ion-icon [color]="task.status == 1 ? 
            'success' : 'dark'" name="checkmark-circle-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-label class="ion-text-wrap">{{task.taskName}}</ion-label>
          <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
            {{task.projectName}} <br>{{parseFloat(task.estimatedHours)}} hrs - {{parseFloat(task.hours || 0)}} hrs
          </ion-note>
          <ion-note slot="end" style="font-weight: 300;font-size: 12px;">
            {{task.from | date:'HH:mm a'}} - {{task.to | date:'HH:mm a'}} <br> {{task.date | date:'dd MMM, yyyy'}}
          </ion-note>
          <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
            {{task.approverName}} <br> {{task.approvedDate | date:'dd MMM, yyyy'}}
          </ion-note>
        </ion-item>
        <!-- <ion-item lines="none">
            <ion-note slot="start" style="font-weight: 300;font-size: 12px;">
              2
            </ion-note>
            <ion-icon style="margin-right: 10px;cursor: pointer;" slot="start" name="close-circle-outline"></ion-icon>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373"  slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Chat message date not showing</ion-label>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
              iDMX <br> 2 hrs
            </ion-note>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;">
              1:30 PM - 4:30 PM <br> 2 Aug, 2022
            </ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-note slot="start" style="font-weight: 300;font-size: 12px;">
              3
            </ion-note>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373;" slot="start" name="close-circle-outline"></ion-icon>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373"  slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Feeds page not scrolling back to top when segment change</ion-label>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
              Hr Portal <br> 2 hrs
            </ion-note>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;">
              1:30 PM - 4:30 PM <br> 2 Aug, 2022
            </ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-note slot="start" style="font-weight: 300;font-size: 12px;">
              4
            </ion-note>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373;" slot="start" name="close-circle-outline"></ion-icon>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373"  slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>User chat not opening on receiving chat notification</ion-label>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
              SpotYourDeal <br> 2 hrs
            </ion-note>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;">
              1:30 PM - 4:30 PM <br> 2 Aug, 2022
            </ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-note slot="start" style="font-weight: 300;font-size: 12px;">
              5
            </ion-note>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373;" slot="start" name="close-circle-outline"></ion-icon>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373"  slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Remove possible duplicate users</ion-label>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
              SpotYourDeal <br> 2 hrs
            </ion-note>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;">
              1:30 PM - 4:30 PM <br> 2 Aug, 2022
            </ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-note slot="start" style="font-weight: 300;font-size: 12px;">
              6
            </ion-note>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373;" slot="start" name="close-circle-outline"></ion-icon>
            <ion-icon style="margin-right: 10px;cursor: pointer;color: #737373"  slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Blocked users cannot send message from anywhere</ion-label>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;text-align: right;">
              SpotYourDeal <br> 2 hrs
            </ion-note>
            <ion-note slot="end" style="font-weight: 300;font-size: 12px;">
              1:30 PM - 4:30 PM <br> 2 Aug, 2022
            </ion-note>
          </ion-item> -->
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>