<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/appraisal-hr-screen"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Employees List </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col siz="4"></ion-col>
    <ion-col size="4">
      <ion-select
      style="
        width: 100%;
        background: var(--ion-color-light);
        color: var(--ion-color-dark);
        font-weight: 300;
        border: 0.5px solid rgb(83, 83, 83);
        border-radius: 5px;
        padding: 7px;
      "
      placeholder="Select Department"
      (ionChange)="onSelectionChange($event)"
    >
      <ion-select-option value="{{department.name}}" *ngFor="let department of fetch" >
        {{department.name}}
      </ion-select-option>
    </ion-select>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-grid class="ion-margin hidden-sm-down">
    <ion-row
      style="
        position: sticky;
        top: 0px;
        background: var(--ion-color-light);
        border-radius: 10px;
        z-index: 999999999;
        margin: 0px;
      "
    >
      <ion-col size="1"></ion-col>
      <ion-col size="2">id</ion-col>
      <ion-col size="2">Name</ion-col>
      <ion-col size="2">Designation</ion-col>
      <ion-col size="2.5">Last Increment</ion-col>
      <ion-col size="2.5">Due Date</ion-col>
      </ion-row
    ><br />
    <ion-row
      *ngFor="let employee  of fetchEmployee; index as i"
      style="padding: 10px"
    >
      <ion-col size="1" style="padding: 0px" *ngIf="fetchEmployee.length > 0">
        <ion-checkbox [(ngModel)]="employee .isSelected" [disabled]="employee.disabled"></ion-checkbox>
      </ion-col>
      <ion-col size="2" style="padding: 0px">
        <ion-label> {{employee.employeeId}} </ion-label>
      </ion-col>
      <ion-col size="2" style="padding: 0px">
        <ion-label> {{employee.name}} </ion-label>
      </ion-col>
      <ion-col size="2" style="padding: 0px">
        <ion-label> {{employee.designation}} </ion-label>
      </ion-col>
      <ion-col size="2.5" style="padding: 0px">
        <ion-label> {{employee.lastAppraisalDate | date:'dd, MMM yyyy'}} </ion-label>
      </ion-col>
      <ion-col size="2.5" style="padding: 0px">
        <ion-label> {{employee.dueDate | date:'dd, MMM yyyy' }} </ion-label>
      </ion-col>

    </ion-row>
  </ion-grid >
  <ion-grid style="padding: 50px; ">
    <ion-col size="12" style="height: 55px; ">
      <ion-button style="height: 35px; float: right;" type="submit" (click)="sendListOfEmployee()" color="success">Submit</ion-button>
    </ion-col>
</ion-grid>
</ion-content>
