<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- <div side="start" style="margin-right: -200px;background-color: #000;border-right: 5px solid #000;" class="rightSidebar">

        <ion-list id="inbox-list">
          <ion-list-header style="color: #000;"></ion-list-header>
          <ion-note style="padding-bottom: 10px;color: #000;border-bottom: 1px solid #000;width: 100%;"></ion-note>
            <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </ion-item>
        </ion-list>
    </div> -->
    <ion-menu side="start" contentId="main-content" type="overlay">
      <ion-content>
        <div style="text-align: left; padding: 25px 50px 20px 20px">
          <img src="assets/icon/Logo-full.png" />
        </div>
        <ion-list id="inbox-list">
          <!-- <ion-list-header style="margin-bottom: 20px;">Mckinsol Portal</ion-list-header> -->
          <!-- <ion-note style="padding-bottom: 10px;color: #fff;border-bottom: 1px solid #42515c;width: 100%;"></ion-note> -->

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of modules; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <div class="notification-section" *ngIf="allTicketData !== 0 ">
                <div class="notification" *ngIf="p.title === 'Dashboard'">
                  {{ allTicketData }}
                </div>
              </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-accordion-group *ngIf="salesPermission">
          <ion-accordion toggle-icon="chevron-down-circle">
            <ion-item slot="header">
              <ion-icon slot="start" icon="bar-chart"></ion-icon>
              <ion-label>Sales</ion-label>
            </ion-item>
            <ion-list id="inbox-list" slot="content">
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  *ngFor="let page of salesPages"
                  [routerLink]="[page.url]"
                  routerDirection="root"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected"
                >
                  <ion-label style="padding-left: 43px">{{
                    page.title
                  }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        <!-- <ion-accordion-group *ngIf="salesPermission">
          <ion-accordion toggle-icon="chevron-down-circle">
            <ion-item slot="header">
              <ion-icon slot="start" icon="calendar"></ion-icon>
              <ion-label>PMO</ion-label>
            </ion-item>
            <ion-list id="inbox-list" slot="content">
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  *ngFor="let page of PMO"
                  [routerLink]="[page.url]"
                  routerDirection="root"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected"
                >
                  <ion-label style="padding-left: 43px">{{
                    page.title
                  }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group> -->
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <!-- <ion-item lines="none" (click)="openChat()" style="cursor: pointer;border-bottom: 1px solid #394351;border-top: 1px solid #394351;margin-bottom: 0px">
              <ion-icon slot="start" name="chatbubbles"></ion-icon>
            <ion-label>
              <div>Chat Rooms</div>
              <p>No new messages!</p>
            </ion-label>
          </ion-item> -->

          <ion-item
            lines="none"
            (click)="openProfile()"
            style="
              cursor: pointer;
              border-bottom: 0px solid #394351;
              margin-bottom: 0px;
            "
          >
            <ion-avatar slot="start">
              <ion-img [src]="user.image"></ion-img>
            </ion-avatar>
            <ion-label>
              <div>{{ user.organisationName || user.firstName }}</div>
              <p>{{ user.organisationEmail || user.officialEmail }}</p>
            </ion-label>
            <!-- <ion-icon slot="end" name="create-outline"></ion-icon> -->
          </ion-item>
          <!-- <ion-item lines="none" (click)="logout()" style="cursor: pointer;">
            <ion-label>Logout</ion-label>
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-item> -->
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content">
      <span class="loader" *ngIf="loading"></span>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
