@import "../../pages/inventory/inventory.page.scss";
@import "../../pages/leaves/add-leave/add-leave.page.scss";

textarea, input {
    border: 0.5px solid var(--ion-color-dark) !important;
    background: var(--ion-color-light) !important;
    border-radius: 10px;
    padding: 10px !important;
    color: var(--ion-color-dark) !important;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}

.model {
    border-top: 1px solid !important;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-radius: 10px 10px 0 0 !important;
}

.modelF {
    border-bottom: 1px solid !important;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-radius: 0 0 10px 10px !important;
    display: flex;
    justify-content: flex-end;
}
thead {
    // background: white;
    position: sticky !important;
    top: 0 !important; /* Don't forget this, required for the stickiness */
    z-index: 15 !important;
  }
