<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Attendance</ion-title>
  </ion-toolbar>
  <ion-toolbar color="white">
    <ion-row style="margin-bottom: 10px">
      <ion-col size="4" style="
          border: 1px solid rgb(37 38 40);
          background-color: var(--ion-color-light);
          padding: 0px;
        ">
        <ion-item lines="none">
          <ion-input [(ngModel)]="attendenceDate" (change)="getDate($event)" type="date"
            style="color: #ccc; font-weight: bold"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4" style="
          border: 1px solid rgb(37 38 40);
          background-color: var(--ion-color-light);
          padding: 0px;
        ">
        <ion-item lines="none">
          <select style="
              width: 100%;
              background: var(--ion-color-light);
              color: var(--ion-color-dark);
              font-weight: 300;
              padding: 7px;
              border: none;
            " (change)="searchTeam($event)">
            <option value="search">All Team</option>
            <option value="{{team.teamId}}" *ngFor="let team of allTeam">
              {{team.teamName}}
            </option>
          </select>
        </ion-item>
      </ion-col>

      <!-- <ion-col size="2" style="border: 1px solid rgb(37 38 40);background-color: rgb(30 31 33);padding: 0px;">
        <ion-button (click)="showModal()" color="dark" size="small" expand="block" style="font-size: 17px;">
          Upload CSV
        </ion-button>
      </ion-col> -->
      <ion-col size="4" style="
          border: 1px solid rgb(37 38 40);
          background-color: var(--ion-color-light);
          padding: 0px;
        ">
        <ion-button (click)="downloadAttendance()" color="dark" fill="clear" size="small" expand="block"
          style="font-size: 17px">
          Download Excel
        </ion-button>
      </ion-col>
      <!-- <ion-col size="2" style="border: 1px solid rgb(37 38 40);background-color: rgb(30 31 33);padding: 0px;">
        <ion-button *ngIf="showDeleteButton" (click)="showModal()" fill="outline" color="danger" size="small"
          expand="block" style="font-size: 17px;color: #fff !important;">
          Delete Selected
        </ion-button>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="searchEmployee($event)" debounce="100" placeholder="Search Employee"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Desktop View -->
  <ion-grid class="ion-margin hidden-sm-down">
    <ion-row style="
        position: sticky;
        top: 0px;
        background: var(--ion-color-light);
        border-radius: 10px;
        z-index: 999999999;
        margin: 0px;
      ">
      <!-- <ion-col size="1">Emp. Id</ion-col> -->
      <ion-col size="2">Employee Name</ion-col>
      <ion-col size="2">Date</ion-col>
      <ion-col size="2">Punch In</ion-col>
      <ion-col size="2">Last Punch Out</ion-col>
      <ion-col size="2">Total Hours</ion-col>
      <ion-col size="2">Action</ion-col>
      <!-- <ion-col size="2">Action</ion-col> -->
      <!-- <ion-col size="0.5"></ion-col> -->
    </ion-row>
    <ion-row *ngIf="allRequests.length === 0">
      <div id="container">
        <h5>No Data Found!</h5>
        <!-- <img width="100px" src="assets/loader.gif" alt=""> -->
      </div>
    </ion-row>
    <ion-row *ngFor="let request of allRequests; index as i" [ngClass]="(i % 2 === 0) ? 'odd' : 'even'" >
      <!-- <ion-col style="padding: 0px" size="1">
        <ion-item lines="none">
          <ion-label>
            {{request.employeeId}}
          </ion-label>
        </ion-item>
      </ion-col> -->
      <ion-col style="padding: 0px" size="2">
        <ion-item lines="none">
          <ion-avatar slot="start" (click)="userAttendance(request)">
            <ion-img
              [src]="request.imageExists ? authService.apiUrl+'images/'+request.employeeId+'.png' : authService.apiUrl+'images/0.png'"></ion-img>
          </ion-avatar>

          <ion-label (click)="userAttendance(request)">
            {{request.firstName}} {{request.lastName}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="padding: 0px" size="2">
        <ion-item lines="none">
          <ion-label> {{request.date}} </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="padding: 0px" size="2">
        <ion-item lines="none">
          <ion-label *ngIf="request.isEdit">
            <input type="text" [(ngModel)]="request.punchIn" style="width: 120px;" />
          </ion-label>
          <ion-label *ngIf="!request.isEdit">
            <!-- {{request.punchIn | date:'hh:mm a'}} -->
            {{request.punchIn}}
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col style="padding: 0px" size="2">
        <ion-item lines="none">
          <div *ngIf="request.isEdit">
            <input type="text" [(ngModel)]="request.punchOut" style="width: 120px;" />
          </div>
          <ion-label *ngIf="!request.isEdit">
            <!-- {{request.punchOut | date:'hh:mm a'}} -->
            {{request.punchOut }}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="padding: 0px" size="2">
        <ion-item lines="none">
          <ion-label> {{request.totalWorkingHours }} </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="padding: 0px" size="2">
        <ion-item lines="none">
          <ion-list>
            <ion-item>
              <div *ngIf="!request.isEdit">
                <ion-icon name="create-outline" (click)="onEdit(request)"></ion-icon>
              </div>
              <div *ngIf="request.isEdit">
                <ion-icon name="bookmark-outline" (click)="onUpdate(request)"></ion-icon>
                <ion-icon name="close-outline" (click)="oncancel(request)"></ion-icon>
              </div>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button
        (click)="showModal()"
        fill="outline"
        color="danger"
        expand="block"
        style="margin: 0px 20px;"
      >
        Delete Selected
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->