<ion-content>
  <ion-row class="container">
    <ion-col sizeMd="9" sizeLg="9" sizeSm="12" size="12" offsetMd="1.5" offsetLg="1.5">
      <ion-row style="box-shadow: 0px 0px 24px 1px rgba(97,97,97,0.75);">
        <ion-col sizeMd="4" size="12" style="padding:50px;display: flex;justify-content: center;align-items: center;">
          <!-- <div style="text-align: center;"> -->
            <img src="assets/icon/Logo-full.png">
            <!-- <h2 style="color: #fff;">Times of People</h2> -->
          <!-- </div> -->
        </ion-col>
        <ion-col sizeMd="8" size="12" style="padding:50px;">
          <ion-row>
            <ion-col size="12" style="text-align: center;"><h3 style="color: #fff;">Forget Password Form</h3></ion-col>
            <ion-col sizeMd="8" size="12" offsetMd="2">
              <div *ngIf="!otp">
                <form [formGroup]="form">
                  <ion-list style="background: transparent;padding:10px 20px;">
                    <ion-label><span style="color: #fff;">Email address</span></ion-label>
                    <ion-item lines="none">
                      <ion-input type="text" required formControlName="email"></ion-input>
                    </ion-item>
                    <ion-button color="success" expand="block" fill="solid" (click)="submit()">Submit</ion-button>
                  </ion-list>
                </form>
              </div>
              <div *ngIf="otp && !verifyOtp">
                <form [formGroup]="formOTP">
                  <ion-list style="background: transparent;padding:10px 20px;text-align: center;">
                    <ion-label><span style="color: #fff;text-align: center;">Enter your OTP</span></ion-label>
                    <div style="margin-top: 20px;text-align:center;">
                      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]=config></ng-otp-input>
                    </div>
                    <ion-button color="success" fill="solid" (click)="submitOTP()" style="margin-top: 15px;">Submit</ion-button>
                  </ion-list>
                </form>
              </div>
              <div *ngIf="verifyOtp">
                <form [formGroup]="formPassword">
                  <ion-list style="background: transparent;padding:10px 20px;">
                    <ion-label><span style="color: #fff;">New Password</span></ion-label>
                    <ion-item lines="none">
                      <ion-input type="password" required formControlName="newPassword" (keyup)="validatePassword($event)"></ion-input>
                    </ion-item>
                    <p><span id="msg"></span></p>
                    <ion-label><span style="color: #fff;">Confirm Password</span></ion-label>
                    <ion-item lines="none">
                      <ion-input type="password" required formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <ion-button color="success" fill="solid" (click)="submitPassword()">Submit</ion-button>
                  </ion-list>
                </form>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-content>
  <ion-row style="height: 100%;">
    <ion-col sizeLg="4.5"
      style="height: 100%;background-image: url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);background-size: cover;background-position: center;">
    </ion-col>
    <ion-col style="height: 100%;background: var(--ion-color-light);border-radius: 0px;margin: 0px;" sizeLg="3"
      sizeMd="3" sizeSm="12" sizeXs="12" class="box">
      <div style="text-align: center;padding-top: 30%;padding-bottom: 15%">
        <img src="assets\icon\mckinsol-logo.png" style="width:100px;">
      </div>
      <div *ngIf="!otp">
        <form [formGroup]="form">
          <ion-list style="background: transparent;padding:10px 20px;">
            <ion-label style="color: #fff;">Email address</ion-label>
            <ion-item lines="none"
              style="border: 1px solid rgb(122, 120, 120);margin-bottom: 10px;margin-top: 5px;border-radius: 10px;">
              <ion-input type="text" required formControlName="email"></ion-input>
            </ion-item>
            <div class="submitButton" (click)="submit()">Submit</div>
          </ion-list>
        </form>
      </div>
      <div *ngIf="otp && !verifyOtp">
        <form [formGroup]="formOTP">
          <ion-list style="background: transparent;padding:10px 20px;">
            <ion-label style="color: #fff;">Enter your OTP</ion-label>
            <div style="margin-top: 20px;text-align:center;">
              <ng-otp-input (onInputChange)="onOtpChange($event)" [config]=config></ng-otp-input>
            </div>
            <div class="submitButton" (click)="submitOTP()">Submit</div>
          </ion-list>
        </form>


      </div>
      <div *ngIf="verifyOtp">
        <form [formGroup]="formPassword">
          <ion-list style="background: transparent;padding:10px 20px;">
            <ion-label style="color: #fff;">New Password</ion-label>
            <ion-item lines="none"
              style="border: 1px solid rgb(122, 120, 120);margin-bottom: 10px;margin-top: 5px;border-radius: 10px;">
              <ion-input type="password" required formControlName="newPassword" (keyup)="validatePassword($event)"></ion-input>
            </ion-item>
            <span id="msg"></span>
            <ion-label style="color: #fff;">Confirm Password</ion-label>
            <ion-item lines="none"
              style="border: 1px solid rgb(122, 120, 120);margin-bottom: 10px;margin-top: 5px;border-radius: 10px;">
              <ion-input type="password" required formControlName="confirmPassword"></ion-input>
            </ion-item>
            <div class="submitButton" (click)="submitPassword()">Submit</div>
          </ion-list>
        </form>
      </div>
    </ion-col>
    <ion-col sizeLg="4.5"
      style="height: 100%;background-image: url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);background-size: cover;background-position: center;">
    </ion-col>
  </ion-row>
</ion-content> -->
<ion-footer style="padding: 0px; background-color: #000">
  <ion-row style="padding: 0px">
    <ion-col style="padding: 0px">
      <div style="
          background: var(--ion-color-gray);
          padding: 10px 20px;
          padding-bottom: 15px;
          text-align: right;
          color: var(--ion-color-dark);
          font-size: 16px;
        ">
        <span>
          Copyrights 2020 © McKinsol Consulting Inc. All rights reserved</span>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>