.submitButton {
    background: #2ecc71;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

ion-content {
    --ion-background-color: #222;
}

// .box {
//     height: 400px;
//     width: 98%;
//     // border: 1px solid rgb(122, 120, 120);
//     border-radius: 10px;
//     background-color: #00000054;
//     color: #fff;
// }

ion-footer {
    --ion-background-color: #f6f6f6;
}

ion-toolbar {
    --background: #f6f6f6;
    --color: #222;
}

ion-button {
    --color: #f6f6f6;
    height: 35px;
    display: flex;
    align-items: center;
}

ion-item {
    --background: transparent;
    border: 1px solid rgb(122, 120, 120);
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    height: 35px;
    display: flex;
    align-items: center;
}

ion-row {
    padding: 0px !important;
}

@media screen and (max-width: 480px) {
    .box {
        border-radius: 20px;
    }

    .container {
        margin-top: 25px !important;
        height: auto !important;
    }
}

ion-input {
    color: #fff;
}

.container {
    background: linear-gradient(55deg, #000, rgba(129, 128, 128, 0.3)), url(https://www.applaudhr.com/hubfs/images/blog-images/Office.png);
    background-size: cover;
    background-position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
}
