<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label slot="end" style="
        padding: 0px 10px;
        font-weight: bold;
        font-size: 17px;
        color: var(--ion-color-dark);
      ">
      {{getDayOfWeek(today)}} {{today | date:'d MMMM, yyyy'}}
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()" color="dark">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>

      <!-- Notifications on dashboard (Sonali) -->

      <ion-button (click)="presentPopoverNotification()" color="dark">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="danger">{{notificationItems}}</ion-badge>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon color="danger" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
      <div class="example-overlay" style="height:500px;overflow-y:scroll">
        <ion-row *ngFor="let notification of notification; index as i" [ngClass]="(i % 2 === 0) ? 'odd' : 'even'"
          style="background: var(--ion-color-light); border-radius: 5px;margin: 5px;" (click)="assignTask(item, user)">
          <ion-item style="width: 100%;cursor: pointer;">
            <ion-note style="font-weight: 300;font-size: 12px;text-align: justify;">
              {{notification.notification}}
            </ion-note>
            <ion-note slot="end" style="font-weight: 200;font-size: 10px;text-align: right;">
              {{notification.date}}
            </ion-note>
          </ion-item>
        </ion-row>
      </div>
    </ng-template> -->
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment
      slot="start"
      [scrollable]="true"
      [(ngModel)]="segment"
      style="margin: 0"
      value="home"
    >
      <ion-segment-button value="home" default >
        <ion-text> Home </ion-text>
      </ion-segment-button>
      <ion-segment-button value="Team-DSR" *ngIf="isReportingManager !== 0">
        <ion-text> DSR </ion-text>
      </ion-segment-button>
      <ion-segment-button value="projects">
        <ion-text> Projects </ion-text>
      </ion-segment-button>
      <!-- <ion-segment-button value="CRF" *ngIf="employeeId==148||157||170||354">
        <ion-text> CRF </ion-text>
      </ion-segment-button> -->
      <!-- access given to ashish, amit kedawat, amit bhorshe, sunpreet, divyansh -->
      <ion-segment-button value="CRF" *ngIf="employeeId === 148 || employeeId === 157 || employeeId === 170 || employeeId === 354 || employeeId === 144">
        <ion-text>CRF</ion-text>
      </ion-segment-button>
      
      <ion-segment-button value="teams" *ngIf="isReportingManager !== 0">
        <ion-text> Teams </ion-text>
      </ion-segment-button>
      <ion-segment-button value="kra" *ngIf="isReportingManager !== 0">
        <ion-text> KRA </ion-text>
      </ion-segment-button>
      <ion-segment-button value="leave" *ngIf="isReportingManager !== 0">
        <ion-text> Leave </ion-text>
      </ion-segment-button>
      <ion-segment-button value="reports" *ngIf="isReportingManager !== 0">
        <ion-text> Reports </ion-text>
      </ion-segment-button>
      <ion-segment-button value="ticket" *ngIf="isReportingManager !== 0">
        <ion-text> Ticket </ion-text>
      </ion-segment-button>
      <!-- <ion-segment-button value="weeklySummary" style="width: 250px;">
      </ion-segment-button> -->
      <ion-segment-button *ngIf="isReportingManager !== 0" value="weeklySummary" style="width: 100%">
        <ion-text> Weekly </ion-text>
      </ion-segment-button>

      <!-- ankit -->
      <!-- <ion-segment-button value="grievance"> -->
        <ion-segment-button value="grievance" *ngIf="isReportingManager !== 0">
        <ion-text> Grievance </ion-text>
      </ion-segment-button>
      <div *ngIf="allTicketData !== 0 && isReportingManager !== 0">
        <div class="notification">{{ allTicketData }}</div>
      </div>

      <!-- Conveyance Button -Ankit -->
      <!-- <ion-segment-button value="conveyance">   -->
  <ion-segment-button value="conveyance" *ngIf="isReportingManager !== 0">
        <ion-text> Conveyance </ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar color="white" *ngIf="segment === 'weeklySummary'">
    <ion-row style="padding: 0px 10px">
      <ion-col sizeMd="7" size="12" style="padding: 0px">
        <ion-item lines="none">
          <ion-label>
            {{selectedWeek.fdate.date | date:'dd MMMM, yyyy'}} to
            {{selectedWeek.ldate.date | date:'dd MMMM, yyyy'}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeMd="3" size="12" style="background-color: transparent; padding: 0px">
        <ion-item (click)="openSelector(selector)" lines="none">
          <ion-select #selector [(ngModel)]="selectedTeam" [value]="selectedTeam" style="pointer-events: none"
            [interfaceOptions]="customAlertOptions" multiple="true">
            <ion-select-option *ngFor="let team of teams" [value]="team.teamId">{{team.teamName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeMd="2" size="12">
        <ion-button (click)="exportexcel()" fill="outline" style="height: 35px">Export to Excel</ion-button>
      </ion-col>
      <ion-col *ngFor="let date of previousDays" [size]="12/5" style="
          border-right: 0px solid rgb(37 38 40);
          background-color: transparent;
        ">
        <div disabled (click)="selectBoxWeek(date)" style="
            text-align: center;
            line-height: 35px;
            font-size: 15px;
            font-weight: bold;
            padding: 0px;
            border-radius: 10px;
            cursor: pointer;
          " [ngClass]="date.selected? 'selected': 'notSelected'">
          {{date.fdate.date | date:'dd MMM '}} - {{date.ldate.date | date:'dd
          MMM'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="segment === 'home'" >
    <!-- <div class="quote">
      {{quote.content}}
    </div> -->

    <ion-row style="margin: 5px">
      <ion-col sizeMd="6" size="12">
        <div style="
            font-size: 25px;
            padding-top: 10px !important;
            margin-bottom: 5px;
            margin-top: -10px;
          " class="newPost">
          <ion-item class="messageBox" lines="none" style="padding-bottom: 0px" (click)="createNewPost()">
            <ion-label style="
                padding: 10px 20px;
                border: 1px solid var(--ion-color-dark);
                border-radius: 20px;
              ">
              <h2 style="color: var(--ion-color-dark); font-size: 16px">
                Create new post..
              </h2>
            </ion-label>
            <ion-icon slot="end" name="images-outline" color="dark"></ion-icon>
          </ion-item>
        </div>
        <ion-row *ngIf="posts.length === 0">
          <div id="container">
            <img width="100px" style="margin-top: 70%; margin-right: 5%" src="assets/loader.gif" alt="" />
          </div>
        </ion-row>
        <ion-card class="POST" *ngFor="let post of posts" style="padding-top: 10px; margin-bottom: 10px">
          <ion-item class="messageBox" lines="none" style="padding: 0px; border-bottom: 0px solid #394351">
            <ion-avatar slot="start" style="
                height: 50px;
                width: 50px;
                padding: 0px;
                margin-left: -10px;
                margin-right: 12px;
              ">
              <img
                [src]="post.imageExists ? authService.apiUrl+'images/'+post.employeeId+'.png' : authService.apiUrl+'images/0.png'" />
            </ion-avatar>
            <ion-label>
              <h2 style="
                  color: var(--ion-color-dark);
                  font-weight: bold;
                  text-transform: capitalize;
                ">
                {{post.firstName}} {{post.lastName}}
              </h2>
              <p style="color: #848484; font-size: 14px">
                {{post.designation}}
              </p>
            </ion-label>
            <ion-note slot="end" style="
                text-align: right;
                font-size: 14px;
                color: var(--ion-color-dark-tint) !important;
              ">
              {{post.createdAt | date:'hh:mm a dd MMM'}}</ion-note>
            <ion-icon slot="end" name="ellipsis-vertical-outline" style="font-size: 14px"></ion-icon>
          </ion-item>
          <div [innerHTML]="post.postDescription" class="postDescription"></div>
          <!-- <ion-row style="border-top: 0.5px solid #394351;">
            <ion-col size="12" style="padding: 0px;">
              <ion-item lines="none">
                <ion-label style="text-align: right;font-size: 14px;color: var(--ion-color-dark-tint) !important;">
                  {{post.createdAt | date:'hh:mm a dd MMM'}}</ion-label>
                <ion-icon slot="start" *ngIf="!post.userLiked" name="heart-outline"></ion-icon>
                <ion-chip slot="start">
                  <ion-label>2</ion-label>
                  <ion-icon name="heart-outline" color="dark"></ion-icon>
                </ion-chip>
                <ion-chip slot="start">
                  <ion-label>4</ion-label>
                  <ion-icon name="chatbox-outline" color="dark"></ion-icon>
                </ion-chip>
              </ion-item>
              <ion-button (click)="toggleLike(post)" expand="block" fill="clear" style="height: 25px;">
                    <ion-icon *ngIf="!post.userLiked" name="thumbs-up-outline" color="dark"></ion-icon>
                    <ion-icon *ngIf="post.userLiked" name="thumbs-up" color="danger"></ion-icon>
                    <div style="color: #ccc;text-align: center;margin-top: -3px; padding-left: 5px;padding-top: 3px;">{{post.likesCount}}</div>
                  </ion-button>
            </ion-col>
          </ion-row> -->
        </ion-card>
        <!-- <ion-card>
          <img src="https://edit.org/img/blog/yli-templates-employee-month-certificates-editable-online.jpg" />
        </ion-card> -->
      </ion-col>
      <ion-col sizeMd="3" size="12">
        <ion-item>
          <ion-label style="padding: 10px 20px">
            <h2 style="color: var(--ion-color-light); font-size: 16px">
              Pending Tasks ({{allTasks.length + testingTasks.length}})
            </h2>
          </ion-label>
        </ion-item>

        <div *ngFor="let task of allTasks" style="margin-bottom: 5px; border-radius: 5px">
          <ion-item style="background-color: transparent !important" (click)="viewTaskDetails(task, null)">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2>{{task.projectName}}</h2>
              </ion-text>
              <ion-text color="dark">
                <p style="font-size: 14px; text-align: justify">
                  #{{task.projectTaskNumber}} {{task.taskName}}
                </p>
              </ion-text>
            </ion-label>
          </ion-item>
          <div *ngIf="task.dueDate" style="
              text-align: right;
              padding: 5px;
              font-size: 14px;
              padding-top: 0px;
            ">
            Due Date : {{task.dueDate}}
          </div>
        </div>
        <div *ngFor="let task of testingTasks" style="
            margin-bottom: 5px;
            background-color: var(--ion-color-light);
            border-radius: 5px;
          ">
          <ion-item style="background-color: transparent !important" lines="none" (click)="viewTaskDetails(task, null)">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2>
                  Testing - #{{task.projectTaskNumber}} - {{task.projectName}}
                </h2>
              </ion-text>
              <ion-text color="dark">
                <p style="font-size: 14px; text-align: justify">
                  #{{task.projectTaskNumber}} {{task.taskName}}
                </p>
              </ion-text>
            </ion-label>
          </ion-item>
          <div *ngIf="task.dueDate" style="
              text-align: right;
              padding: 5px;
              font-size: 14px;
              padding-top: 0px;
            ">
            Due Date : {{task.dueDate}}
          </div>
        </div>
      </ion-col>
      <ion-col sizeMd="3" size="12">
        <!-- <ion-card style="margin: 0px !important;" routerLink="/organization-structure"
          style="background-color: var(--ion-color-light);">
          <img src="assets\Organizational-Structure.png" alt="">
          <ion-card-content>
            <h1 style="color: var(--ion-color-dark);">Organizational Structure</h1>
          </ion-card-content>
        </ion-card> -->
        <ion-item>
          <ion-label style="padding: 10px 20px">
            <h2 style="color: var(--ion-color-light); font-size: 16px">
              Latest News Headlines
            </h2>
          </ion-label>
        </ion-item>
        <div *ngFor="let news of newsFeed">
          <ion-item>
            <ion-thumbnail slot="start" style="
                height: 50px;
                width: 50px;
                padding: 0px;
                margin-left: -10px;
                margin-right: 12px;
              ">
              <!-- <img [src]="news['media:thumbnail']['0']['$']['url']" /> -->
            </ion-thumbnail>
            <ion-label class="ion-text-wrap" (click)="openNews(news['link'][0])" style="cursor: pointer">
              <ion-text>
                <h2>{{news.title[0]}}</h2>
              </ion-text>
              <ion-text color="dark">
                <p style="font-size: 12px; text-align: right">
                  {{news['pubDate'] | date:'hh:mm a dd MMM'}}
                </p>
              </ion-text>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="segment === 'Team-DSR'">
    <app-dsr></app-dsr>
  </div>
  <div *ngIf="segment === 'projects'">
    <ion-grid>
      <!-- <ion-row style="display: flex;justify-content: center;">
        <ion-toolbar>
          <ion-segment [(ngModel)]="subSegment" style="margin: 0;">
            <ion-segment-button value="projectList">
              <ion-text>
                Project
              </ion-text>
            </ion-segment-button>
            <ion-segment-button value="raisedTicket">
              <ion-text>
                Raised Ticket
              </ion-text>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-row> -->
      <div *ngIf="subSegment === 'projectList'">
        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngFor="let project of allProjects">
            <ion-list class="projects" routerLink="/project-manage/{{project.projectId}}"
              style="background-color: var(--ion-color-light)">
              <ion-item class="item" lines="none">
                <ion-avatar slot="start">
                  <ion-icon name="globe-outline" style="font-size: 35px; color: rgb(160, 158, 158)"></ion-icon>
                </ion-avatar>
                <ion-label style="
                    color: var(--ion-color-light);
                    font-size: 14px;
                    font-weight: 500;
                  ">{{project.projectName}}
                </ion-label>
                <ion-note slot="end">
                  <div style="font-size: 14px">Total Hours</div>
                  <div style="font-size: 15px; font-weight: bold">
                    {{project.totalHours | number : '.2-2' || "0"}}
                  </div>
                </ion-note>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="subSegment === 'raisedTicket'">
        <!-- <ion-card style="margin: 10px;"> -->
        <ion-row class="ticket">
          <ion-col size="1">ProjectId</ion-col>
          <ion-col size="2">ProjectName</ion-col>
          <ion-col size="1">TaskId</ion-col>
          <ion-col size="3">TaskName</ion-col>
          <ion-col size="2">Comment</ion-col>
          <ion-col siz="1">CreatedDate</ion-col>
          <ion-col siz="1">ApproverName</ion-col>
          <ion-col siz="1">ApprovedDate</ion-col>
        </ion-row>
        <ion-row *ngIf="raisedTicket.length <= 0" style="display: flex; justify-content: center">
          <h6>No Raised Ticket</h6>
        </ion-row>
        <ion-row *ngFor="let request of raisedTicket; index as i" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
          <ion-col size="1">{{request?.projectId}}</ion-col>
          <ion-col size="2">{{request?.projectName}}</ion-col>
          <ion-col size="1">{{request?.taskId}}</ion-col>
          <ion-col size="3">{{request?.taskName}}</ion-col>
          <ion-col size="2">{{request?.requestComment}}</ion-col>
          <ion-col siz="1">{{request?.createdAt | date:'dd MMM, yyyy'}}</ion-col>
          <ion-col siz="1">{{request?.approverName}}</ion-col>
          <ion-col siz="1">{{request?.updatedAt | date:'dd MMM, yyyy'}}</ion-col>
        </ion-row>
        <!-- </ion-card> -->
      </div>
    </ion-grid>
  </div>
  <div *ngIf="segment === 'CRF'">
    <app-cmf-page></app-cmf-page>
  </div>
  <div *ngIf="segment === 'teams'">
    <app-team></app-team>
  </div>
  <div *ngIf="segment === 'kra'">
    <app-view-all-kra></app-view-all-kra>
  </div>
  <div *ngIf="segment === 'leave'">
    <app-leave></app-leave>
  </div>
  <div *ngIf="segment === 'reports'">
    <app-project-report></app-project-report>
  </div>
  <div *ngIf="segment === 'ticket'" [style.height]="windowHeight" style="overflow: auto">
    <table class="tg">
      <thead>
        <tr style="
            background-color: var(--ion-color-light);
            position: sticky;
            top: 0px;
            z-index: 9999999999999;
          ">
          <th class="tg-hpky" style="width: 100px">ProjectId</th>
          <th class="tg-hpky" style="width: 200px">ProjectName</th>
          <th class="tg-hpky" style="width: 100px">Task Id</th>
          <th class="tg-hpky" style="width: 300px">Task Name</th>
          <th class="tg-hpky" style="width: 300px">Comment</th>
          <th class="tg-hpky" style="width: 100px">Created By</th>
          <th class="tg-hpky" style="width: 100px">Created Date</th>
          <th class="tg-hpky" style="width: 100px">Approved By</th>
          <th class="tg-hpky" style="width: 100px">Approved Date</th>
          <th class="tg-hpky" style="width: 100px">Extra Hours</th>
          <th class="tg-hpky" style="width: 150px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of raisedTicketManager; index as i">
          <td class="tg-0pky" style="width: 100px">{{ticket?.projectId}}</td>
          <td class="tg-0pky" style="width: 200px">{{ticket?.projectName}}</td>
          <td class="tg-0pky" style="width: 100px">{{ticket?.taskId}}</td>
          <td class="tg-0pky" style="width: 300px">{{ticket?.taskName}}</td>
          <td class="tg-0pky" style="width: 300px">
            {{ticket?.requestComment}}
          </td>
          <td class="tg-0pky" style="width: 100px">
            {{ticket?.firstName + ' ' + ticket?.lastName}}
          </td>
          <td class="tg-0pky" style="width: 100px">
            {{ticket?.createdAt | date:'dd MMM, yyyy'}}
          </td>
          <td class="tg-0pky" style="width: 100px">{{ticket?.approverName}}</td>
          <td class="tg-0pky" style="width: 100px">
            {{ticket?.updatedAt | date:'dd MMM, yyyy'}}
          </td>
          <th class="tg-hpky" style="width: 100px; text-align: center; padding: 0">
            <input type="number" min="0" style="width: 80px; height: 30px; margin: 0" [(ngModel)]="ticket.extraHours" />
          </th>
          <td class="tg-0pky" style="width: 150px">
            <!-- <ion-button slot="start" fill="clear" style="font-size: 14px;">
              <ion-icon [color]="ticket.status == 2 ? 'danger' : 'dark'" name="close-circle-outline" slot="icon-only"></ion-icon>
            </ion-button> -->
            <ion-button slot="end" fill="clear" style="font-size: 14px" (click)="approveTicket(ticket)">
              <ion-icon [color]="ticket.status == 1 ? 'success' : 'dark'" name="checkmark-circle-outline"
                slot="icon-only"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="segment === 'weeklySummary'">
    <div [style.height]="windowHeight1" style="overflow: auto">
      <table class="tg" id="excel-table">
        <thead>
          <tr style="
              background-color: var(--ion-color-light);
              position: sticky;
              top: 0px;
              z-index: 9999999999999;
            ">
            <th class="tg-hpky" style="width: 230px" *ngFor="let data of weeklySummaryHeader[0];">
              {{data}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of weeklySummary; index as i">
            <td class="tg-0pky" style="width: 230px" *ngFor="let data1 of data">
              {{data1}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="segment === 'grievance'">
    <app-assigned-ticket></app-assigned-ticket>
  </div>
  <!-- added by ankit -->
  <div *ngIf="segment === 'conveyance'">
    <app-assigned-conveyance></app-assigned-conveyance>
  </div>
  <!-- end of ankit code -->
</ion-content>
<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-row>
      <ion-col size="12" sizeMd="3" style="display: flex; align-items: center">
        <ion-buttons>
          <ion-button color="dark" *ngIf="attendanceData">
            Punch In Time: {{attendanceData.punchIn | date:'hh:mm a'}}
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="12" sizeMd="9" style="
          padding-right: 20px;
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        ">
        <div style="text-align: right">{{quote.content}}</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>