.tableHead {
  border: 1px solid white;
 
}
.tableData {
  border: 1px solid white;
  padding: 10px;
}

.ion-col-header {
  border: solid 1px #757070;
  text-align: center;
}
.ion-col-item {
  border: solid 1px #757070;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
}
ion-modal {
  --width: 60%;
}

ion-input, select {
  border: 0.5px solid var(--ion-color-dark) !important;
  background: var(--ion-color-light) !important;
  border-radius: 10px;
  // padding: 10px !important;
  height: 40px;
  color: var(--ion-color-dark) !important;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  outline: none;
  margin-top: 5px;
  text-align: center;
}
.addRemove
{
margin-top: 25px;
}
.modalForm
{
  border: 0.5px solid var(--ion-color-dark) !important;
  text-align: center;
  background: var(--ion-color-light) !important;
  margin-bottom: 1rem;
}
.checkbox{
  pointer-events: none;
}

